{% load staticfiles %}
{% load page_nav %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static "favicon.ico"%}">

    <title>{% block title %} {% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "lib/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "css/style.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/pygments-css/github.css"%}">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
            <a class="blog-nav-item" href="/sitemap/">本站目录</a>
            {% get_pages %}
        </nav>
      </div>
    </div>

    <div class="container">
      <div class="blog-header">
        <h1 class="blog-title"><a href="/">邓世龙的自留地</a></h1>
        <p class="lead blog-description">兼济天下则达 独善其身则穷</p>
      </div>
      <header class="archive-header">
        {% block archive_title %} {% endblock %}
      </header>
      <div class="row">

        <div class="col-sm-8 blog-main">
          {% block content %} {% endblock %}
          {% block comment %} {% endblock %}
        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          {% block sidebar %} {% endblock %}
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->

    <footer class="blog-footer">
      <p>使用<a href="https://www.djangoproject.com">Django</a> by <a href="https://github.com/dengshilong">dengshilong</a>.模版采用<a href="http://v3.bootcss.com">Bootstrap</a></p>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static "lib/jquery-2.2.0.min.js" %}"></script>
    <script src="{% static "lib/bootstrap/js/bootstrap.min.js" %}"></script>
    <!-- Totop Begin -->
    <div id="totop">
    <a title="返回頂部"><img src="{% static "img/scrollup.png"%}"/></a>
    </div>
    <script src="{% static "js/totop.js"%}"></script>
    <!-- Totop End -->
  </body>
</html>
