<div class="blog-post">
  <h2 class="blog-post-title"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
  <p class="blog-post-meta">{{post.publish_time|date:"Y年n月d日"}} category:{% for category in post.get_categories %}<a href="{{category.get_absolute_url}}">{{category}}</a>{% if forloop.last %}{% else %}, {% endif %} {% endfor %} tag:{% for tag in post.get_tags %}<a href="{% url 'blog.tag' tag.name %}">{{tag}}</a>{% if forloop.last %}{% else %}, {% endif %}{% endfor %}</p>
  <hr>
  {% load my_markdown %}
  <p>{{ post.content|mark|safe}}</p>
  <div style="text-align:center">
    <a target="_blank" href="http://www.robinjia.org/reward/"><button>打赏作者</button></a>
  </div>
</div>
